<div class="">

    <div class="container">
        <h1 class="">Welcome to Ember Select2</h1>

        This is a <a href="https://github.com/iStefo/ember-select-2">fork of iStefo's ember-select-2</a> component designed to be easier to maintain and get working in your project.
        Please refer to the <a href="https://istefo.github.io/ember-select-2/#/docs">documentation</a>

        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="well">
                \{{select-2 content=pizzas value=testResult placeholder="Select one"}}
                </div>
                {{select-2 content=pizzas value=testResult placeholder="Select one"}}
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">

            <br /><br />

            <strong>content: </strong> {{pizzas}}

            <br />
            <br />
            <br />

            <strong>value: </strong> {{testResult}}
        </div>


    </div>

</div>
